:root {
  --color-theme: #14120b;
  --text-color: #edecec;
  --secondary-color: #1b1913;
  --color-accent: #f54e00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--color-theme);
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1300px;
  margin: 0 auto;
}

/*  **************************************************** HEADER ********************************************** */

header {
  padding: 15px 18px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav img {
  width: 95px;
}

ul li {
  color: var(--text-color);
  list-style: none;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26%;
  font-size: 14px;
  font-weight: 600;
}

.btn {
  width: auto;
  padding: 4px 8px;
  border-radius: 50px;
  border: none;
  margin: 0 2px;
  cursor: pointer;
}

.sign-in-btn {
  background-color: var(--color-theme);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.download-btn:hover {
  background-color: var(--text-color);
}

/*  **************************************************** HERO SECTOIN ********************************************** */

#hero-section {
  margin: 20px;
  padding-top: 90px;
  margin-bottom: 60px;
}

.text-wrap-container {
  text-wrap-style: balance;
  width: 50%;
  font-size: 26px;
  line-height: 1.3;
}

.download-ide-btn {
  margin-top: 20px;
  padding: 10px 20px;
  width: 18%;
  font-size: 16px;
}

.download-icon {
  font-size: 20px;
}

.hero-image {
  width: 100%;
  margin-top: 60px;
}

/*  **************************************************** LOGO GARDEN ********************************************** */
#logo-garden {
  margin: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.partner-logo-container {
  height: 100px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.partner-logo {
  height: 40px;
}

/*  **************************************************** FEATURES ********************************************** */
#features-section {
  margin: 20px;
  margin-bottom: 60px;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.feature-image {
  width: 70%;
}

.feature-item h2 {
  color: var(--text-color);
}

.feature-item .learn-more-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: var(--color-accent);
}

/* **************************************************** TESTIMONIALS ********************************************** */
#testimonials {
  margin: 20px;
  margin-bottom: 60px;
}

#testimonials h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonial-item {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  height: 300px;
  position: relative;
}

.testimonial-item p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial-item-info {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 0;
}

.testimonial-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.testimonial-item span {
  display: block;
  margin-bottom: 2px;
  color: var(--text-color);
}

.person-name {
  font-size: 16px;
}

/* **************************************************** USE CASES ********************************************** */

#use-cases {
  margin: 20px;
  margin-bottom: 60px;
}

.use-case-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

.use-case-item {
  padding: 15px;
  margin: 0 20px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.use-case-item:first-child {
  margin: 0;
}

.use-case-item:last-child {
  margin-right: 0;
}

.use-case-item span {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 18px;
}

.use-case-item p {
  line-height: 1.5;
  font-size: 16px;
}

.use-case-img img {
  width: 100%;
  height: 400px;
}

.learn-more {
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  color: var(--color-accent);
}
